<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-7 col-lg-6">
      <div class="card shadow rounded-4 p-4">
        <h2 class="mb-4 text-center">Start Your Investment</h2>
        <div class="mb-4">
          <%= select_tag :platform_class,
              options_for_select(PLATFORM_CLASSES_AND_TITLES.map { |k,v| [v, k] }),
              prompt: "Select a Platform",
              data: { controller: "platform", action: "change->platform#change" },
              class: "form-select form-select-lg" %>
        </div>
        <turbo-frame id="step_container"></turbo-frame>
      </div>
    </div>
  </div>
</div>
